body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center; 
}

.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
}

.rectangle {
    width: 100px;
    height: 50px;
    background-color: #b0c4b1;
    margin: 10px; 
    text-align: center;
    line-height: 50px; 
}
